// font
@import "../../__variables.scss";
//Variables


body {
  margin: 0;
  padding: 0;
  background: lightgoldenrodyellow;
}

.paper {
  position: absolute;
  height: $paperHeight;
  width: $paperWidth;
  background: $paperColor;
  box-shadow: 0 0 5px 0 #888;

  .place-input {
    background: none;
    outline: none;
    border: none;
    font-family: $font;
    font-size: 1.2em;
    margin-left: .5em;
  }

  @for $i from 1 to 25 {
    .h-#{$i} {
      height: $i * $lineHeight;
    }
    .mt-#{$i} {
      margin-top: $i * $lineHeight;
    }
  }

  .top-image, .top-image img {
    object-fit: contain;
    height: 8 * $lineHeight;
    max-height: 8 * $lineHeight;
    width: 100%;
    overflow: hidden;
  }

  .back-icon {
    background: none;
    border: none;
    font-size: 1.5em;
    position: absolute;
    top: .5em;
    left: .2em;
    a {
      color: $fontColor;
    }
  }

  .button-valid {
    border: none;
    background: none;
    position: absolute;
    color: #70ff7b;
    right: .4em;
    top: .4em;
    font-size: 1.5em;
    z-index: 15;
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    left: 45px;
    height: 100%;
    width: 2px;
    background: rgba(255, 0, 0, 0.4);
  }

  input[disabled], textarea[disabled] {
    color: $fontColor;
  }
  .lines {
    margin-top: $topBorder;
    height: calc(100% - #{$topBorder});
    width: 100%;
    background-image: repeating-linear-gradient(
                    $paperColor 0px,
                    $paperColor calc(#{$lineHeight} - 1px),
                    steelblue $lineHeight
    );
    .content {
      color: $fontColor;
      position: absolute;
      top: calc(#{$topBorder} + 3em);
      left: 55px;
      bottom: 10px;
      right: 10px;
      max-height: $paperHeight;
      line-height: $lineHeight;
      font-family: $font;
      overflow: hidden;

      .summary {
        overflow-y: hidden;
        max-width: $paperWidth - 3em;
        position: relative;
        .summary-icon {
          position: absolute;
          font-size: 2* $lineHeight;
          top:  $lineHeight;
          cursor: pointer;
          &.left {
            left: 0;
          }

          &.right {
            right: 0;
          }

        }
        ul {
          margin: 0 2em 0 2em;

          padding: 0;
          li {
            list-style: none;
            .icon {
              display: none;
            }
            a {
              color: $fontColor;
              text-decoration: none;
            }

            &:hover {
              .icon {
                display: inline-block;
              }
              a {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .text {
        font-family: $font;
        max-height: $textMaxHeight;
        background: none;
        border: none;
        width: 100%;
        height: 100%;
        resize: none;
        overflow-x: hidden;
        overflow-y: scroll; // show scrollbar Y
        outline: none;

        &::-webkit-scrollbar {
          width: 6px;

          height: 8px;
          background: none; /* or add it to the track */
        }
        /* Add a thumb */
        &::-webkit-scrollbar-thumb {
          background: rgba(38, 38, 38, 0.5);
          border-radius: 3px;
        }
      }

      .location {
        margin-top: $lineHeight;
      }


    }

    .title {
      font-family: $font;
      position: absolute;
      background: none;
      border: none;
      outline: none;
      font-size: 2.2em;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
      width: $paperWidth;
      max-width: $paperWidth;
      text-align: center;
      margin: 0;
    }
  }

  .holes {
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    background: $backgroundColor;
    border-radius: 50%;
    box-shadow: inset 0 0 2px 0 #888;

    &.hole-top {
      top: 10%;
    }
    &.hole-middle {
      top: 50%;
    }
    &.hole-bottom {
      bottom: 10%;
    }
  }
}

@for $i from 1 through 4 {
  .pile .paper:nth-child(#{$i}) {
    transform: translate(-50%, -50%) rotate(-#{($i - 1) * 2}deg);
    z-index: 10 - $i;
    left: 50%;
    top: 50%;

    * {
      z-index: 10 - $i;
    }
  }
}

.notebook {
  position: absolute;
  height: $notebookHeight;
  width: $notebookWidth;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .paper {
    z-index: 10;
    right: 0.5em;
    top: 0.5em;
    .holes {
      background-color: $notebookCoverBackground;
    }
  }
  .left-section {
    @for $i from 1 through 4 {
      .left-page:nth-child(#{$i}) {
        transform: rotate(-#{$i - 1}deg);
        z-index: 10 - $i;
        left: 0.5em;
      }
    }
  }
  .right-section {
    @for $i from 1 through 4 {
      .left-page:nth-child(#{$i}) {
        transform: rotate(#{$i - 1}deg);
        right: 0.5em;
        z-index: 10 - $i;
      }
    }
  }
  .left-page {
    top: 0.5em;
    position: absolute;
    height: $paperHeight;
    width: $paperWidth;
    background: $paperColor;
    box-shadow: 0 0 5px 0 #888;

    &::before {
      content: "";
      position: absolute;
      right: 45px;
      height: 100%;
      width: 2px;
      background: rgba(255, 0, 0, 0.4);
    }
    .holes {
      position: absolute;
      right: 10px;
      height: 25px;
      width: 25px;
      background: $notebookCoverBackground;
      border-radius: 50%;
      box-shadow: inset 0 0 2px 0 #888;

      &.hole-top {
        top: 10%;
      }
      &.hole-middle {
        top: 50%;
      }
      &.hole-bottom {
        bottom: 10%;
      }
    }
    .lines {
      margin-top: $topBorder;
      height: calc(100% - #{$topBorder});
      width: 100%;
      background-image: repeating-linear-gradient(
                      $paperColor 0px,
                      $paperColor calc(#{$lineHeight} - 1px),
                      steelblue $lineHeight
      );
    }
  }

  .cover {
    height: $notebookHeight;
    width: $paperWidth + 1em;
    background-color: $notebookCoverBackground;
    border-radius: 5px;
  }

  .cover:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
  }
}
