$backgroundColor: lightgoldenrodyellow;
$paperColor: #fff2cf;
$fontColor: #000;
$paperWidth: 25em;
$paperHeight: 30.5em;


$notebookWidth: 55em;
$notebookHeight: 31.5em;
$notebookCoverBackground: rgb(99, 26, 26);

$font: "Indie Flower";
$lineHeight: 1.5em;
$topBorder: 2em;
$textMaxHeight: 9 * $lineHeight;
